body {
    margin-top: 0;
}

#header {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
}

#header img {
    width: 5%;
    text-align: center;
}

img {
    max-width: 100%;
    width: 100%;
}

.box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 30px;
    padding: 0 20px;
}

.box {
    flex: 1;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid gray;
    background-color: white;
}

.box img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}

header{
    text-align: center;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.center {
    text-align: center;
}

.bg-blue {
    background-color: lightcyan;
}